<app-sidebar></app-sidebar> <div class="about-section">
  <h1>Acerca de nosotros</h1>
  <p>Equiopo Dinamita.</p>
  <p>Diseños Explosivos.</p>
</div>

<h2 style="text-align:center">Nuesto Equipo</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/img/Adrian.jpg" style="height: 300px;"alt="Jane" style="width:100%; height:750px;">
      <div class="container">
        <h2>Adrian Alphona</h2>
        <p class="title">Supervisor</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Adrian@example.com</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/img/Melissa.jpg" style="height: 300px;"alt="Mike" style="width:100%; height:750px;">
      <div class="container">
        <h2>Melissa Gold</h2>
        <p class="title">Diseñadora</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Melissa@example.com</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/img/Victor.webp" alt="John" style="width:100%; height:750px;">
      <div class="container">
        <h2>Victor Von Doom</h2>
        <p class="title">Desarrollador</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Victor@example.com</p>
        <p><button class="button">Contacto</button></p>
      </div>
    </div>
  </div>
</div> 

<br>

<div class="footer-clean">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                  <h3>Hecho por</h3>
                  <ul>
                      <li><a href="#">Adrian Navarro Rivero</a></li>
                      <li><a href="#">Melissa Vazquez Unzueta</a></li>
                      <li><a href="#">Victor Sandoval Gaytan</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Legacy</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>Careers</h3>
                  <ul>
                      <li><a href="#">Job openings</a></li>
                      <li><a href="#">Employee success</a></li>
                      <li><a href="#">Benefits</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                  <p class="copyright">Equipo Dinamita © 2021</p>
              </div>
          </div>
      </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>




         
