<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
<header  routerLink="/principal" class="pointer">  <img src="../assets/img/LOGO2.png">   Menú</header>
<ul>
<li class="pointer" routerLink="/encuesta"><a><i class="pointer fa fa-users "></i>Encuesta</a></li>
<li class="pointer" routerLink="/resultados" *ngIf="permiso" ><a ><i class="pointer fas fa-boxes"></i>Resultados</a></li>
<li class="pointer" routerLink="/noticias" ><a ><i class="pointer fas fa-book"></i>Noticias</a></li>
<li class="pointer" routerLink="/contacto"><a ><i class="pointer far fa-id-card"></i>Contactanos</a></li>
<li class="pointer" routerLink="/acerca"><a ><i class="pointer fas fa-circle"></i>Acerca de</a></li>
<li class="pointer" ><a (click)="logout()" ><i class="pointer fas fa-sign-out-alt"></i>Salir</a></li>

</ul>
</div>
