<app-sidebar></app-sidebar>
  
<div class="contenedor animated fadeIn fast">

  <h2>Resultados</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-success">
          <div class="card-body pb-0">
            <div class="text-value">Grafico de resultados</div>
            <div>
              <div class="text-value">Encuesta 1</div>
            </div>
          </div>
          <div class="chart-wrapper mt-3">
            <canvas
              baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [legend]="pieChartLegend"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-primary">
          <div class="card-body pb-0">
            <div class="text-value">Comparativa</div>
            <div> <h3 class="en1">Encuesta 1 | </h3> <h4 class="en2"> Encuesta 2</h4> </div>
          </div>
          <div class="chart-wrapper mt-3">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="chartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>